<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--它告诉 .NET 配置系统，如何解析 log4net 配置。-->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<!--FATAL（致命错误）、ERROR（一般错误）、WARN（警告）、INFO（一般信息）、DEBUG（调试信息）-->
	<!--(高) OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低) -->
	<log4net debug="false">
		
		<appender name="Log_Info" type="log4net.Appender.RollingFileAppender">
			<param name="Encoding" value="utf-8" />
			<!--日志文件的保存位置为：Log\Communication\-->
			<param name="File" value="Log\Communication\" />
			
			<!--日志文件为后续内容附加到已有文件（若是false，则为后续覆盖向前的内存）-->
			<param name="AppendToFile" value="true" />
			
			<!--根据文件的日期滚动文件-->
			<param name="rollingStyle" value="Date" />
			
			<!--日志文件名为yyyy-MM-dd'.txt的格式-->
			<param name="datePattern" value="yyyy-MM-dd'.txt'" />
			
			<!--日志文件名，是否固定不变-->
			<param name="staticLogFileName" value="false" />

			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="20"/>
			<maximumFileSize value="2MB"/>
			<param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
			
			<!--日志记录的格式-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] [%-3thread] [%-5level]  %message %newline" />
			</layout>
			<!--使用过滤器，过滤出FATAL > INFO > DEBUG 等级并记录-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG" />
				<param name="LevelMax" value="FATAL" />
			</filter>
		</appender>

		<appender name="Mqtt_Info" type="log4net.Appender.RollingFileAppender">
			<param name="Encoding" value="utf-8" />
			<param name="File" value="Log\Mqtt\" />
			<param name="AppendToFile" value="true" />
			<param name="rollingStyle" value="Date" />
			<param name="datePattern" value="yyyy-MM-dd'.txt'" />
			<param name="staticLogFileName" value="false" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="20"/>
			<maximumFileSize value="2MB"/>
			<param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
			
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] [%-3thread] [%-5level] - %message - [%logger]%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG" />
				<param name="LevelMax" value="FATAL" />
			</filter>
		</appender>

		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="Info" />
				<foreColor value="Green" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%n%date{HH:mm:ss,fff} [%thread] [%-5level] %message %newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG" />
				<param name="LevelMax" value="Fatal" />
			</filter>
		</appender>
		<appender name="msg_Info" type="log4net.Appender.RollingFileAppender">
			<param name="Encoding" value="utf-8" />
			<!--日志文件的保存位置为：Log\Communication\-->
			<param name="File" value="Log\msg\" />

			<!--日志文件为后续内容附加到已有文件（若是false，则为后续覆盖向前的内存）-->
			<param name="AppendToFile" value="true" />

			<!--根据文件的日期滚动文件-->
			<param name="rollingStyle" value="Date" />

			<!--日志文件名为yyyy-MM-dd'.txt的格式-->
			<param name="datePattern" value="yyyy-MM-dd'.txt'" />

			<!--日志文件名，是否固定不变-->
			<param name="staticLogFileName" value="false" />

			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="2MB"/>
			<param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />

			<!--日志记录的格式-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] [%-3thread] %message %newline" />
			</layout>
			<!--使用过滤器，过滤出FATAL > INFO > DEBUG 等级并记录-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG" />
				<param name="LevelMax" value="FATAL" />
			</filter>
		</appender>
		<!-- 只记录以下级别的信息  -->
		<root>
			<level value="ALL" />
			<appender-ref ref="Log_Info" />
			<!--<appender-ref ref="ColoredConsoleAppender"/>-->
		</root>


		<!-- 只记录以下级别的信息  -->
		<logger name="CommunicationLabLogger">
			<level value="ALL" />
			<!--<appender-ref ref="Log_Info" />-->
			<appender-ref ref="ColoredConsoleAppender"/>
		</logger>

		<logger name="MqttLabLogger" additivity="false">
			<level value="ALL" />
			<appender-ref ref="Mqtt_Info" />
		</logger>


		<logger name="MsgLogger" additivity="false">
			<level value="ALL" />
			<appender-ref ref="msg_Info" />
		</logger>
		
	</log4net>
</configuration>
